@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.aid-container {
  @apply max-w-[1120px] mx-auto px-4 sm:px-5 lg:px-6 xl:px-0;
}

.specialist h2 {
  @apply mt-4 lg:text-3xl md:text-2xl text-xl font-bold;
}

.specialist p {
  @apply lg:text-base text-sm mt-2 lg:mt-3;
}

.specialist ul {
  @apply list-disc list-inside pl-4 lg:text-base text-sm;
}

.description1 {
  @apply lg:text-base text-sm font-inter font-normal;
}
.description5 {
  @apply lg:text-base md:text-sm text-[10px] font-inter font-normal;
}

.description2 {
  @apply xl:text-[18px] lg:text-base text-sm font-inter font-medium;
}
.description3 {
  @apply xl:text-xl text-[18px]  font-inter font-medium;
}

.heading1 {
  @apply xl:text-5xl lg:text-4xl md:text-3xl text-2xl font-inter font-bold leading-10;
}

.heading2 {
  @apply xl:text-3xl lg:text-2xl md:text-xl text-base font-inter font-semibold;
}

.heading3 {
  @apply xl:text-2xl lg:text-xl text-[18px] font-inter font-semibold;
}

/* faq.css */


.faq-panel {
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;
}


.faq-panel.active {
  background-color: transparent; 
}


.faq-panel.active .ant-collapse-header {
  background-color: #F8FCFF !important;
  border-block-end: none !important;
  padding: 16px; 
}


.ant-collapse-content {
  background-color: #F8FCFF !important;
  border-block-start: none !important;
  transition: all 0.3s ease;
}


.ant-collapse-item {
  margin-block-end: 12px;
  border: none;
}


.rotate-icon {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}


.ant-collapse .ant-collapse-content {
  color: rgba(0, 0, 0, 0.88);
  background-color: #F8FCFF;
  border-block-start: 1px solid #d9d9d9;
}

.ant-collapse {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  background-color: #FFFFFF;
  border: none;
  border-radius: 8px;
}

.dashinput {
  border: 1px solid #e8eae8;
  color: #05073c !important;
  inline-size: 100%;
}

.dashinput::placeholder {
  color: #717171 !important;
  opacity: 1;
}

.dashinput .ant-form-item .ant-form-item-label>label {
  color: #212121 !important;
  font-size: 14px !important;
}

.ant-form-item-control textarea {
  margin-block-start: 4px !important;
}



.ant-form-item-label>label {
  margin-block-end: 1px !important;
  font-size: 14px;
  color: #05073c !important;
  font-weight: 500;
}

.expert {
  .swiper-pagination {
    @apply w-full !mt-[40px] flex justify-center items-center gap-1 relative z-10;
  }

  .swiper-pagination-bullet {
    @apply rounded-full w-[31px] h-[6px] bg-[#1087EF] cursor-pointer opacity-30;
  }

  .swiper-pagination-bullet-active {
    @apply rounded-full w-[31px] h-[6px] bg-[#1087EF] cursor-pointer opacity-100;
  }
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}

.selected {
  background-color: #3b82f6; 
  color: white;
}