@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.aid-container {
  @apply max-w-[1120px] mx-auto px-4 sm:px-5 lg:px-6 xl:px-0;
}

.specialist h2 {
  @apply mt-4 lg:text-3xl md:text-2xl text-xl font-bold;
}

.specialist p {
  @apply lg:text-base text-sm mt-2 lg:mt-3;
}

.specialist ul {
  @apply list-disc list-inside pl-4 lg:text-base text-sm;
}

.description1 {
  @apply lg:text-base md:text-sm sm:text-base font-inter font-normal;
}
.description2 {
  @apply xl:text-[18px] lg:text-base text-sm font-inter font-medium;
}
.heading1 {
  @apply xl:text-5xl lg:text-4xl md:text-3xl text-2xl font-inter font-bold;
}
.heading2 {
  @apply xl:text-3xl lg:text-2xl md:text-xl text-base font-inter font-semibold;
}
.heading2 {
  @apply xl:text-2xl lg:text-xl text-[18px] font-inter font-semibold;
}